.App{
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.search-from{
  display: flex;
  justify-content: center;
  height: 10vh;
}
.recipe_main{
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  /* max-width: min-content; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 400px;
  margin: 35px
}